


header {
  height: 4rem;
  text-align-last: center;
  border: 1px solid black;
  color: rgb(129, 98, 45);
  background: rgb(46, 26, 1);
}

.mainBlock {
  background: black;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.blockLeft {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  background: rgb(129, 98, 45);
}

.imageClass {
  margin: 0.4em;
}

.image {
  width: 100%; 
}

.nav {
  margin: 0.4em;
  display: flex;
  flex-direction: column;
}

