


header {
  padding-top: 2px;
  height: 4rem;
  text-align-last: center;
  color: rgb(240 239 238);
 background: rgb(45 129 113);
}

.mainBlock {
  background: black;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.blockLeft {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  background:rgb(45 129 113);
}

.imageClass {
  margin: 0.4em;
}

.image {
  width: 100%; 
}

.nav {
  margin: 0.4em;
  display: flex;
  flex-direction: column;
}

.info {
  height: 2em;
  color: white;
  border: 1px solid black;
  border-radius: 14px;
  background: rgb(176 202 158);
  padding-left:10px;
}

.info p {
  margin-left: 10px;
}

.info a {
  margin-left: 10px;
  color:white;
  text-decoration: none;
}

.blockRight {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  background: rgb(255, 166, 0);
  font-size: 130%

}

.rightContainer {
  padding: 0.5em;
  background: rgb(45 129 113);
}

.right {
  border-radius: 14px;  
  background: rgb(176 202 158);
  margin: 0.3em 0;
}

footer {
  height: 3rem;
  text-align-last: center;
  color: rgb(255, 166, 0);
  background:rgb(45 129 113);
}

.urlssc {
  color:white;
  text-decoration: none;
}

.imgrss {
  border-radius: 14px;
}

.mygit {
  color:white;
  text-decoration: none;
  margin-left: 32px;

}
.rightInfo{
  margin-left: 22px;
  color: white;
}
.codeEx{
  margin-left: -12px;
  color: white;
}
.mrgn{
  color: white;
  margin-left: 12px;

}


